<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/manageItems.css" type="text/CSS" />
    <script src="/js/manageItems.js"></script>
  </head>

  <body >
    <header><%- include('./partials/header') %></header>
    <div class="manageItems">
      <h2>MANAGE ITEMS</h2>
      <%if(enabledItems.length){ %>
      <div class="container-enabled">
                <!--Enabled Items-->
        <table id="quotationGrid" class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4" class="tableHeading">Enabled Items</th>
            </tr>
            <tr>
              <th scope="col">S No.</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Rate</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <%enabledItems.forEach((element)=>{%>
          <tbody>
            <tr>
              <td name="serialName"><%=element.serialNumber%></td>
              <td name="itemName">
                <b class="tableData"><%=element.itemName%></b>
                <%if(element.itemCategories.length){%>
                <select class="form-select adjustSelect" name="role">
                  <option selected><b>Select Item Category</b></option>
                  <%element.itemCategories.forEach(function(itemCategory) {%>
                  <option value="<%-itemCategory.id%>">
                    <%=itemCategory.itemCategoryName%>
                  </option>
                  <%})%>
                </select>
                <%}%>
              </td>
              <td name="itemRate"><%=element.itemRate%></td>
              <td name="actions">
                <a href="#" data-itemId="<%-element.itemId%>" data-itemName="<%-element.itemName%>" data-itemRate="<%-element.itemRate%>" 
                  onclick="openEditItemModal(this);"><i class="fa fa-edit"></a></i>&nbsp;&nbsp;
                  <a href="#" data-itemId="<%-element.itemId%>" onclick="disableItem(this);"><i class="fa fa fa-times-circle"></i></a>
              </td>
            </tr>
          </tbody>
          <%})%>
        </table>
</div>
<%}%>
<%if(disabledItems.length){ %>
<div class="container-disabled">

        <!--Disabled Items-->
        <table id="disabledItems" class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4" class="tableHeading">Disabled Items</th>
            </tr>
            <tr>
              <th scope="col">S No.</th>
              <th scope="col">Item Name</th>
              <th scope="col">Item Rate</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <%disabledItems.forEach((element)=>{%>
          <tbody>
            <tr class="disabled">
              <td name="serialName"><%=element.serialNumber%></td>
              <td name="itemName">
                <b class="tableData"><%=element.itemName%></b>
                <%if(element.itemCategories.length){%>
                <select class="form-select adjustSelect" name="role">
                  <option selected><b>Select Item Category</b></option>
                  <%element.itemCategories.forEach(function(itemCategory) {%>
                  <option value="<%-itemCategory.id%>">
                    <%=itemCategory.itemCategoryName%>
                  </option>
                  <%})%>
                </select>
                <%}%>
              </td>
              <td name="itemRate"><%=element.itemRate%></td>
              <td name="actions">
                  <a href="#" data-itemId="<%-element.itemId%>" onclick="enableItem(this);"><i class="fa fa-check-circle"></i></a>
              </td>
            </tr>
          </tbody>
          <%})%>
        </table>
      </div>
      <%}%>
    </div>
    <footer><%- include('./partials/footer') %></footer>

    <div class="modal" tabindex="-1" role="dialog" id="updateItemModal">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Item</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              onclick="closeModal();"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="" id="updateItemForm" onsubmit="updateItem(event);">
              <div class="form-group">
                <input
                name="itemId"
                type="hidden"
                id="itemId"
              />
                <label for="itemName">Item Name: </label>
                <input
                  name="itemName"
                  type="text"
                  class="form-control"
                  id="itemName"
                  placeholder="Enter Item Name"
                />
              </div>
              <div class="form-group">
                <label for="itemRate">Item Rate: </label>
                <input
                  name="itemRate"
                  type="text"
                  class="form-control"
                  id="itemRate"
                  placeholder="Enter Item Rate"
                />
              </div>
              <div class="form-group" id="itemCategories"></div>
              <div class="actionButtons">
              <button type="button" class="btn btn-primary" onclick="addItemCategory()"><i class="fas fa-plus"></i> Add Item Category</button>
              <button type="submit" class="btn btn-success" id="submit-btn-updateItems"><i class="fas fa-save"></i>&nbsp; Save changes</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
