<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/myProfile.css" type="text/CSS" />
    <script src="/js/myProfile.js"></script>
  </head>

  <body>
    <header><%- include('./partials/header') %></header>
    <div class="myProfileForm">
      <h2>My Profile</h2>
      <form
        class="myProfile-form"
        id="myProfileForm"
        onsubmit="updateProfile(event)"
      >
        <div class="form-group">
          <label for="email">Email</label>
          <input
            disabled
            name="email"
            type="email"
            class="form-control"
            value="<%-profileData ? profileData.email : null%>"
          /></div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              disabled
              name="firstName"
              type="text"
              class="form-control"
              value="<%-profileData ? profileData.firstName : null%>"
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              disabled
              name="lastName"
              type="text"
              class="form-control"
              value="<%-profileData ? profileData.lastName : null%>"
            />
          </div>
        <div class="form-group">
          <label for="phoneNo">Contact Number</label>
          <input
            disabled
            name="phoneNo"
            type="text"
            class="form-control"
            value="<%-profileData ? profileData.phoneNo : null%>"
          />
        </div>
        <div class="editProfileButton" id="profileFormSubmitBtn">
          <button type="button" name="resetPassword" class="btn btn-primary" onclick="enableEdit()">
            <i class="fa fa-repeat"></i> Reset Password
          </button>
          <button type="button" name="editProfile" class="btn btn-primary" onclick="enableEdit()">
            <i class="	fas fa-pencil-alt"></i> Edit
          </button>
          <button type="button" name="resetEmail" class="btn btn-primary" onclick="enableEdit()">
            <i class="fas fa-edit"></i> Reset Email
          </button>
        </div>
      </form>
    </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
