<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/addUser.css" type="text/CSS" />
  </head>

  <body>
    <header><%- include('./partials/header') %></header>
    <div class="myProfileForm">
      <h2>My Profile</h2>
      <form class="addUser-form">
        <div class="form-group">
          <label for="email">First Name</label>
          <input
            disabled
            name="firstName"
            type="text"
            class="form-control"
            id="email"
            value="<%-profileData ? profileData.firstName : null%>"
          />
        </div>
        <div class="form-group">
          <label for="email">Last Name</label>
          <input
            disabled
            name="lastName"
            type="text"
            class="form-control"
            id="email"
            value="<%-profileData ? profileData.lastName : null%>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            disabled
            name="email"
            type="email"
            class="form-control"
            id="email"
            value="<%-profileData ? profileData.email : null%>"
          />
        </div>
        <div class="form-group">
          <label for="pwd"></label>Contact Number
          <input
            disabled
            name="phoneNo"
            type="text"
            class="form-control"
            id="pwd"
            value="<%-profileData ? profileData.phoneNo : null%>"
          />
        </div>
        <div class="addUserButton">
          <button type="submit" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
    <footer><%- include('./partials/footer') %></footer>
  </body>
</html>
