<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/workOrderEstimate.css" type="text/CSS" />
    <script src="/js/addWorkOrder.js"></script>
  </head>

  <body>
    <header><%- include('./partials/header') %></header>
    <div class="workOrderEstimateForm">
      <h2>ESTIMATE</h2>
      <div class="container">
        <p class="blessings">!! Jai Mata Di !!</p>
        <div class="esitmateTitle">
          <div class="image-sec col-md-4">
            <img src="images/machine_3.jpeg" class="img-fluid" />
          </div>
          <div class="col-md-8">
            <h2 class="esitmateTitle-h2">UMANG BOREWELL</h2>
            <p class="details">
              Deal in all types of Tube Well work.<br />
              Contact for drilling tube wells at plots, houses and farms at
              reasonable rates <br />
            </p>
            <p class="myAddress">
              <b>Address :</b> Madan Colony, Sadar Bazar, Narmadapuram (M.P.)
            </p>
          </div>
        </div>
        <div class="estimateDetails">
          <div class="serialNo">
            <h4>
              Estimate Number :&nbsp;&nbsp;<%= workOrderDetails.estimateNumber%>
            </h4>
          </div>
          <div class="quotationHeading"><h4>ESTIMATE</h4></div>
          <div class="quotationDate"><h4>Date :</h4></div>
        </div>
        <div class="customerName">
          <h4>
            Customer Name :&nbsp;&nbsp;<%= workOrderDetails.firstName%> <%=
            workOrderDetails.lastName%>
          </h4>
          <input
            name="workOrderId"
            value="<%-workOrderDetails._id%>"
            type="hidden"
            id="workOrderId"
          />
        </div>
        <form id="addWorkOrderEstimateForm" autocomplete="off">
          <%if(itemList.length){%>
          <div class="estimateGrid">
            <table id="estimateGrid" class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 8% !important; height: 32px !important">
                    S No.
                  </th>
                  <th style="width: 65% !important; height: 32px !important">
                    Description
                  </th>
                  <th style="width: 13% !important; height: 32px !important">
                    Rate
                  </th>
                  <th style="width: 8% !important; height: 32px !important">
                    Quantity
                  </th>
                  <th style="width: 8% !important; height: 32px !important">
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody>
                <%itemList.forEach((element)=>{%>
                <tr>
                  <td name="itemId" data-itemId="<%-element.itemId%>">
                    <%=element.serialNumber%>
                  </td>
                  <td name="itemName" class="itemName">
                    <b
                      class="<%-element.itemCategories.length ? 'tableData':''%>"
                      ><%=element.itemName%></b
                    >
                    <%if(element.itemCategories.length){%>
                    <select
                      id="itemCategoriesSelect"
                      class="form-select adjustSelect"
                      name="itemCategories"
                      onchange="getItemCategoriesAmount(this)"
                    >
                      <option><b>Select Item Category</b></option>
                      <%element.itemCategories.forEach(function(itemCategory)
                      {%>
                      <option value="<%-itemCategory.id%>">
                        <%=itemCategory.itemCategoryName%>
                      </option>
                      <%})%>
                    </select>
                    <%}%>
                  </td>
                  <td name="itemRate" id="itemRate">
                    <i class="fas fa-rupee-sign"></i><%=element.itemRate%>
                  </td>
                  <td name="quantity">
                    <input
                      id="itemQuantity"
                      data-itemRate="<%=element.itemRate%>"
                      data-itemName="<%=element.itemName%>"
                      onkeyup="getAmount(this)"
                      type="text"
                    />
                  </td>
                  <td name="amount" class="amount">
                    <i class="fas fa-rupee-sign"></i
                    ><input class="inputAmount" type="text" value="" />
                  </td>
                </tr>
                <%})%>
                <tr>
                  <td colspan="4" class="totalText">TOTAL</td>
                  <td class="amount">
                    <i class="fas fa-rupee-sign"></i
                    ><input id="grandTotal" type="text" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <%}%>
        </form>
        <div class="estimateFooter">
          <div class="right"><h4>Proprietor : Banti Sahu</h4></div>

          <div class="left">
            <p>
              <b>NOTE : 50% advance will have to be paid before work order.</b>
            </p>
            <h5>Contact Number : 9755378758, 9827550029</h5>
          </div>
        </div>
      </div>

      <div class="addWorkOrderButton" id="workOrderQuotationSubmitBtn">
        <button type="button" class="btn btn-primary" onclick="getTotal()">
          <i class="fas fa-rupee-sign"></i> Get Total
        </button>
        <button
          type="submit"
          class="btn btn-success"
          onclick="submitWorkOrderEstimate(event)"
        >
          <i class="fas fa-paper-plane"></i> Submit
        </button>
      </div>
    </div>
    <footer><%- include('./partials/footer') %></footer>

    <script></script>
  </body>
</html>
